@use "@styles/colors.scss";

@font-face {
    font-family: 'Helvetica';
    src: url('src/assets/fonts/Helvetica.ttf') format('truetype');
}

#root {
    font-family: 'Helvetica', Arial, serif;
    color: colors.$lighter-color;
    //background-color: colors.$lighter-color;
    z-index: 10;
}