@use "@styles/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'Helvetica';
    src: url('src/assets/fonts/Helvetica.ttf') format('truetype');
}

#root {
    font-family: 'Yantramanav', Arial, serif;
    color: colors.$lighter-color;
    //background-color: colors.$lighter-color;
    z-index: 10;
}